table {
    border-collapse: collapse;
    width: 38%;
    margin: 0 auto;
}

td, th {
    border: 1px solid gray;
    padding: 2%;
}

#apertura {
    font-weight: bold;
}

html {
    text-align: center;
}

#colores{
    margin: 2px;
}