html{
    background-color: #3e5165;
    font-family: arial;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}
li a:hover {
    background-color: #111;
    color: white;
}
.section-main{
    display: flex;
    flex-wrap: wrap;
    background-color: #3e5165;
}
#div1{
    background-color: white;
    height: 100%;
    width: 69%;
    flex-wrap: wrap;
    flex-flow: wrap;
    line-height: 20px;
}
img{
    width: 100%;
}
#div2{
    background-color: #00d8ca;
    color: black;
    height: 175px;
    width: 31%;
}
#div2-1{
    padding-top: 25px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 12px;
    line-height: 3px;
}
hr{
    height: 1px;
    border: none;
    background-color: black;
}
#div2-1 b{
    font-size: 15px;
}
#div1-1{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 12px;
}
#div1-1 b{
    font-size: 18px;
}
.div3{
    float: left;
    width: 100%;
    background-color: #f3286c;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}